main{
  display: flex;
  flex-direction: column;
}

.intro{
  background-color: grey;
  text-align: center;

}

.role-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.role-cards{
  border: 2px solid black;
  min-width: 200px;
  max-width: 30%;
}

.rolelist-images{
  height: 200px;
  margin-bottom: 30px;
}

.rolelist-name{
  font-size: 40px;
}

#stats{
  background-color: lightblue;
}

#equipment{
  background-color: lightgray;
}

#abilities{
  background-color: darkgoldenrod
}